/* All Pages / Global Styles */
header {
    background-image: url("images/Adoption-banner.jpeg");
    background-size: 1500px;
    background-position: 10 10px;
    background-repeat:no-repeat;
    background-color: tomato;
    height: 350px; 
    padding-top: 160px;
    padding-left: 700px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    color:#fff;
    text-shadow: 1px 1px 1px #333;
    text-align:center;
    position: relative;
	overflow: hidden;
}

li{
    list-style-type:none;
    display:inline;
    padding: 0 20px;
}
li a {
    text-decoration: none; /* Remove Underline */
}
li a:link{
    color: #000; /* Before Click */
}
li a:visited {
    color:#123455; /* After Click */
}
li a:hover {
    color:#6992FE; /* Mouse Over */
}
li a:active {
    color:#753a30; /* Mouse Down */
}
nav{
    background-color:rgb(255,255,255);
    height: 50px;
    text-align: center;
    padding-top: 1px;
}

main{
    /*height:400px; /* fixed height for demo purpose only */
    margin: 50px;
}
main h1 { /* contextual slector */
   
    color: #d04764; 
    font-family: 'Lobster', cursive; 
    font-size: 36px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0 0 18px; 
    text-shadow: 1px 0 0 #fff;
}

h2 { 
    color: #2CA4B0; 
    font-family: 'Oleo Script', cursive; 
    font-size: 24px; 
    font-weight: normal; 
    line-height: 32px; 
    margin: 0 0 18px; 
    text-shadow: 1px 0 0 #fff; 
}

h4 { 
    color: #F90B6D; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 24px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 14px; 
}

p { 
    color: #333333; 
    font-family: "Helvetica Neue",Arial,sans-serif; 
    font-size: 16px; 
    font-weight: 300; 
    line-height: 1.5625; 
    margin-bottom: 15px; 
}

footer{
    height: 40px;
    background-color:rgb(129,141,179);
    text-align: center;
    padding-top: 20px;
    color: rgb(211,218,240);
}

/* index search bar styles */
body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Table Styles */
table {
    margin-top: 35px;
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    max-width:800px; 
    width:100%;
    margin:0 auto;
    position:relative;
}

table,caption,th,td { /* group selector*/
    border: 1px solid #000;
}

th, td{
    height:30px;
    text-align:left;
    height:60px;
    background:rgb(203, 203, 237);
    font-size:16px;
    padding-left:8px
}

caption {
    text-transform: uppercase;
    font-weight: bold;
    height: 70px;
}    

/* Grid Styles */

.page_title {
	font-weight: 300;
	line-height: 120%;
	margin: 20px 0;
	text-shadow: 0 1px 5px rgba(0,0,0,.8);
	text-transform: uppercase;
    text-align: center;
}

/* Grid Styles */
.row {
	margin: 0;
}
.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
}

.test_box {
	padding: 0px;
}

.test_box .inner {
	background: #333;
	display: block;
	margin: 10px;
	overflow: hidden;
}
.test_box .inner .test_click {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.1);
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.test_box .inner .test_click:hover {
	background-color: rgba(0,100,255,.5); 
	mix-blend-mode: hard-light;
}
.flex_this {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: inherit;
	flex-wrap: inherit;
	height: auto;
	margin: 0;
	padding: 10px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: 100%;

}
.test_box .inner .test_click:hover .flex_this {
	margin-top: -5px;
}

.test_title {
	display: block;
	font-weight: 700;
	margin: 0 0 20px;
	width: 100%;
    color:#fff;
}
.test_link {
	border: 2px solid #fff;
	display: inline-block;
	font-size: .8em;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 auto;
	padding: 10px 30px;
	text-transform: uppercase;
}

.box-01 .inner {
	background-image: url(images/NIKKI.jpeg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size:cover;
}
.box-02 .inner {
	background-image: url(images/BLOSSOM.jpeg);
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-03 .inner {
	background-image: url(images/Luna.jpeg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-04 .inner {
	background-image: url(images/Rosarita.jpeg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-05 .inner {
	background-image: url(images/Gracie.jpeg);
	background-position: 10% 10%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-06 .inner {
	background-image: url(images/Elizabeth.jpeg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Signup Styles */
fieldset{
    background-color: #F7B1AB;
}
label {
    display: block;
    margin: 15px 0 0 0;
}
input {
    width: 300px;
}

input[name="pet"] { /* attribute selector */
    width: 10px;
}

textarea {
    width:300px;
}

input[type="signup"]{
    display:block;
    margin:20px 0 10px 0;
    width:100px;
}


/* Gallery Styles */
main #album #photo img {
    width: 300px;
    height: 300px;
    position: relative;
    display: inline-block;
    object-fit: cover;
   
}
